<!-- we hijack social-follow.html to add a form to the navigation bar -->
<form action="{{ "search/" | absURL }}">
  <label for="search-query"><span aria-hidden="true">🔎</span></label>
  <input id="search-query" name="s"/ aria-label="Search" placeholder="search">
</form>
{{ $socials := where (partialCached "func/socials/Get" "socials/Get") "follow" "!=" false }}
<div class="ananke-socials">
  {{ range $socials }}
    <a href="{{ .url }}" target="_blank" class="{{ .name }} ananke-social-link link-transition stackoverflow link dib z-999 pt3 pt0-l {{ cond (eq $.Site.Language.LanguageDirection "rtl") "ml1" "mr1" }}" title="{{ .label }} link" rel="noopener" aria-label="follow on {{ .label }}——Opens in a new window">
      {{ with .icon }}
        <span class="icon">{{ . }}</span>
      {{ else }}
        {{ .label }}
      {{ end }}
      {{- partial "new-window-icon.html" . -}}
    </a>
  {{ end }}
</div>
